# === 서버 실행을 위한 필수 패키지 ===
Flask
flask_cors
gunicorn
joblib

# === AI 모델 및 데이터 처리를 위한 핵심 패키지 ===
konlpy
numpy
scikit-learn
xgboost
pandas
matplotlib
imbalanced-learn

# === 기타 패키지 (로그에서 확인됨) ===
lightgbm
seaborn
spacy==3.8.7
en_core_web_sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.8.0/en_core_web_sm-3.8.0-py3-none-any.whl#sha256=1932429db727d4bff3deed6b34cfc05df17794f4a52eeb26cf8928f7c1a0fb85
