/* 화면 전체 설정 */
body {
  background-color: #dcdcdc;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  font-family: "Malgun Gothic", sans-serif;
}

/* iPhone window 영역 */
.window {
  background-color: #3e3659; /* 어두운 보라색 */
  width: 400px;
  height: 800px;
  border-radius: 40px;
  position: relative;
  text-align: center;
  color: white;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  align-items: center;
}


/* 텍스트 */
.text {
  margin-top: 40px;
  font-size: 20px;
  font-weight: 600;
  line-height: 1.8;
  border-top: 2px solid #a997e3;
  border-bottom: 2px solid #a997e3;
  display: inline-block;
  padding: 10px 0;
}

/* 버튼 */
.start-btn {
  margin-top: 40px;
  width: 220px;
  height: 45px;
  border-radius: 25px;
  border: none;
  font-size: 16px;
  color: #3e3659;
  background-color: #ffffff;
  cursor: pointer;
  transition: 0.2s;
}

.start-btn:hover {
  background-color: #dcccff;
}



.icon {

  margin-top: 140px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden; /* 원 밖 넘침 방지 */
}

.chat-img {
  width: 38%;
  height: auto;
  object-fit: contain;
}




